body {font-family: Arial;}

#container {
	position: relative;
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	height:720px;
	width:720px;
	padding: 0;
	border: none;
	margin-bottom: 50px;
	/* bottom: 1300px; */

	/* display: none; */
}
#containerO {
	position: relative;
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	height:720px;
	width:720px;
	padding: 0;
	border: none;
	bottom: 100px;
}

.grid {
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;

	font-size: 17px;
	text-align: center;
	vertical-align: middle;
}


.gridO {
	margin:0;
	padding:0;
	text-align: center;
	border:none;
	color: black;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	outline:1px solid #000;;
	display:inline-block;
}


#footer{
	position: fixed;
	bottom: 0;
	height:auto;
	/* padding: 20px; */
	width: 100%;
	background-color: #f1f1f1;
	left: -1px;
	border: 2px solid #ccc;
	/* outline-width: thick; */

}
#footer div{
	margin-top: 20px;
	cursor: pointer;
	transition: 0.2s;
	background-color: inherit;
	float: left;
	width: 50%;
	margin: 0;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	outline-style: solid;
	font-size: 17px;
	color: rgb(80, 80, 80);
	outline-width: thin;
	outline-color: #ccc;
	border: none;
    /* outline: none; */
}

#footer div:hover{
    background-color: #ddd;
}

#footer div.active{
	background-color: #ccc;
}

#controller{
	position: relative;
	bottom: 100px;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#submitbtn {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submitbtn:hover {
  background-color: #45a049;
}

#formdiv {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
}



.modal {
  display: block;; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes blinker {
	0% {
      opacity: 1;
    }
	25%{
  	  opacity: 0.5;
    }
	50% {
      opacity: 0;
    }
    75%{
  	  opacity: 0.5;
    }

    100%{
  	  opacity: 1;
    }
}


#timer-container{
	position: fixed;
	right: 20px;
    top: 20px;
	padding: 25px;
	border-style: solid;
	font-size: 20px;
	border-width: 1px;
	background-color: rgba(240,240,240);
	opacity: 1;

  animation: blinker 2s step-start infinite;}


#myProgress {
  width: 250px;
  background-color: #ddd;
}

#myBar {
  width: 250px;
  height: 40px;
  background-color: #4CAF50;
}

#controller button{
	background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
	/* margin : 30px; */
}
