<html>
<html>

<head>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

	<link rel=stylesheet type="text/css" href=" {{ url_for('static', filename = 'style.css') }}"></">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="  {{ url_for('static', filename = 'mousetrap.min.js') }}"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src=" {{ url_for('static', filename = 'script.js') }} "></script>
	<script type="text/javascript" src=" {{ url_for('static', filename = 'optim.js') }} "></script>

</head>

<body>

	<!-- <center><button class="newGrid">New Grid</button></center> -->


	<div id="myModal" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">

		  <h1 style="color:rgb(50,50,50); "> User Info </h1>
		  <hr style="color:lightgrey">

		  <form onsubmit="getInfo(); return false;">
		    <label for="fname"> Name</label>
		    <input type="text" id="user_name" placeholder="Your name.." required>

		    <label for="lname"> Roll Number</label>
		    <input type="text" id="user_roll"  placeholder="Your roll no.." required>
		    <button  id="submitbtn"> Start </button>
			<p> <strong> Note : </strong> The episode will start as soon as you click the Start button </p>
		  </form>


	    <!-- <span class="close">&times;</span>
	    <p>Some text in the Modal..</p> -->
	  </div>

	</div>

<div id="gridworld" style="display:none;">
	<div id = "timer-container">
		<div id="myProgress">
		  <div id="myBar"></div>
		</div>
		<p id = "countdowntimer" style="text-align:center;"> </p>
	</div>
	<div id="container"></div>

	<br><br>
	<div style="text-align:center;width:480px;	margin:auto;margin-top : 70px;" id="controller">
		<button id="up" >UP</button><br><br>
		<button id="left" style="margin-right:30px;">LEFT</button>
		<button id="right"  style="margin-left:30px;">RIGHT</button><br><br>
		<button id="down" >DOWN</button>
	</div>



	<div id="containerO"></div>

	<!-- <div id="footer">
		 <div id="left-foot" onclick="switchOpt()"> Optimal Grid </div>
		 <div id="right-foot" onclick="switchMy()">My Grid </div>
	</div> -->
</div>
</body>
<script>
tg = {{timer}};
gridsz = {{gridcount}};
console.log({{grid}});
console.log({{actions}});
var myacs = {{actions}};
var myGrid = {{grid}};
grid_cpy = {{grid}} ;

console.log({{max}});
var max_col = {{max}};
var scene = {{scene}};
var x_end, y_end;
switch (scene) {

	case 1:
		x_coord = 0, y_coord = 0;
		x_end = 9, y_end = 9;
		prev_x = -1, prev_y = -1;
		break;
	case 3:
		x_coord = 9, y_coord = 0;
		x_end = 0, y_end = 9;
		prev_x = 10, prev_y = -1;
		break;
	case 2:
		x_coord = 0, y_coord = 9;
		x_end = 9, y_end = 0;
		prev_x = -1, prev_y = 10;
		break;
	case 4:
		x_coord = 9, y_coord = 9;
		x_end = 0, y_end = 0;
		prev_x = 10, prev_y = 10;

		break;
	case 5:
		x_coord = 0, y_coord = 0;
		x_end = 0, y_end = 9;
		prev_x = -1, prev_y = -1;

		break;
	default:

}

function ctd_timer() {
	var timeleft = {{timer}} + 1;
	var time = {{timer}};
	var elem = document.getElementById("myBar");
    var downloadTimer = setInterval(function(){
    timeleft--;
    document.getElementById("countdowntimer").textContent = timeleft + ' secs left';
    if(timeleft <= 0){
		clearInterval(downloadTimer);
		submit_grid();
	}

	elem.style.width = (250 * timeleft / time) + 'px' ;
    },1000);
}




// makeActions(myacs);
// var movesaaa = [moveUp, moveRight, moveDown, moveLeft];
// movesaaa[2]();


	// single keys
	// Mousetrap.bind('4', function() { console.log('4'); });
	// Mousetrap.bind("?", function() { console.log('show shortcuts!'); });
	// Mousetrap.bind('esc', function() { console.log('escape'); }, 'keyup');
	//
	// // combinations
	// Mousetrap.bind('command+shift+k', function() { console.log('command shift k'); });
	//
	// // map multiple combinations to the same callback
	// Mousetrap.bind(['command+k', 'ctrl+k'], function() {
	//     console.log('command k or control k');
	//
	//     // return false to prevent default browser behavior
	//     // and stop event from bubbling
	//     return false;
	// });
	//
	// // gmail style sequences
	// Mousetrap.bind('g i', function() { console.log('go to inbox'); });
	// Mousetrap.bind('* a', function() { console.log('select all'); });
	//
	// // konami code!
	// Mousetrap.bind('up up down down left right left right b a enter', function() {
	//     console.log('konami code');
	// });
</script>

</html>
