<html>

   <head>
      <!-- <script type = "text/javascript"  -->
         <!-- src = "{{ url_for('static', filename = 'hello.js') }}" ></script> -->
   </head>

   <body>
	   <!-- <form action="http://localhost:5000/grid" method="get">
		   <input type="text" name="gridcount">
		   <input type="submit" > -->
           <button onclick="window.location.href='http://alphago.pythonanywhere.com/grid?gridcount=6'" > Start </button>
      <!-- <input type = "button" onclick = "sayHello()" value = "Say Hello" /> -->
   </body>

</html>
